/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, i,
 section, img, div, h2, p, form,
 fieldset, label, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   height: auto;
   width: 100%;
 }
/*
 INPUT RESET
 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   -webkit-appearance: none;
   -moz-appearance: none;
 }*/

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 h1 {
   font-size: 32px;
   margin-bottom: 10px;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

#content {
  font-family: 'Roboto', sans-serif;
	font-size: inherit;
	vertical-align: baseline;
}

/*Button Group*/
/*button {
    background-color: transparent;
    border: 1px solid #2FBDF6;
    border-radius: 8px;
    color: #666A73;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #2FBDF6;
    color: white;
}*/

/* Header Group */

.header-group {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  border-top: 1px solid #D2D6DF;
  border-bottom: 1px solid #D2D6DF;
  align-items: center;
}

.header-link {
  display: flex;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-left: 1px solid #D2D6DF;
  font-family: 'Pacifico', sans-serif;
  color: #F6682F;
  font-size: 28px;
  align-self: center;
}

.header-link:hover {
  color: #F69A2F;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  height: 73px;
  border-right: 1px solid #D2D6DF;
}

div.nav-links-item{
  color: #666A73;
  font-size: 14px;
  align-self: center;
  padding-right: 10px;
}

div.nav-links-item:hover {
  cursor: pointer;
  color: #00a8f2;
}


/*Banner / Slider*/

#app-slider-div {
  height: 100vh;
  min-height: 300px;
}

#app-slider-div div{
  overflow: hidden;
  height: 85vh;
  align-items: center;
}

#app-slider-div img {
  height: auto;
  width: 100vw;
  top: calc(-80vh/3);
  position: absolute;
}

#welcome-arrow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  position: absolute;
  top: 20%;
  left: calc(50% - 100vh/3);
  z-index: 2;
}

#welcome-text {
  margin-bottom: 30%;
  font-family: 'Pacifico', sans-serif;
  font-size: 3em;
  color: F6682F;
}

#welcome-arrow-img {
  width: 30%;
  margin-left: calc(100vh/6);
}

/*Login/Signup Form*/

.session-modal {
  position: relative;
}

.session-modal-content {
  background-color: #FFFFFF;
  border-radius: 7px;
  padding: 2px;
  color: #666A73;
}

.login-form-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  padding: 40px;
}

.login-form {
  display: flex;
  position: block;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.login-form label {
  display: flex;
  justify-content: space-between;
}

/*Gathering Form*/

.gathering-modal {
  position: relative;
}

.gathering-modal-content {
  background-color: #FFFFFF;
  border-radius: 7px;
  padding: 2px;
  color: #666A73;
}

/*Gathering Form*/

.gathering-form-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  padding: 40px;
}

.gathering-form {
  display: flex;
  position: block;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.gathering-form label {
  display: flex;
  justify-content: space-between;
}

#category-dropdown {
  display: flex;
}

/*User Landing Page*/
.user-landing-page {
  width: 90%;
  margin: 20px auto 0 auto;
}

.user-landing-header {
  margin: 10px 0px;
}

.user-dash {
  display: flex;
  justify-content: space-around;
}

.user-dash-explore {
  display: flex;
  justify-content: center;
  height: 50%;
  overflow: scroll;
  border: 1px solid #D2D6DF;
}


.user-dash-bookmark, .user-dash-tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 55vh;
  overflow: scroll;
  border: 1px solid #D2D6DF;
  margin-bottom: 10px;
}

.user-dash-bookmark ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-dash-tickets ul {
  display: flex;
  flex-direction: column;
}

.tickets-index-item {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  margin: 25px 0;
}

.tickets-index-item > img {
  margin-right: 10px
}

.tickets-index-item > img:hover {
  cursor: pointer;
}

.tickets-index-item > img, .tickets-index-item > div {
  width: 50%;
}

.bookmark-index-item {
  width: 150px;
  margin: 5px 0;
  padding: 5px;
}

.bookmark-index-item:hover {
  cursor: pointer;
}

/*Events Index*/

.gatherings-index {
  display: flex;
  justify-content: center;
  height: 40vh;
  width: 100%
}

.gatherings-index ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gathering-index-item-image {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 10px;
}


/*Event Show*/
.gathering-index-show {
  display: flex;
  justify-content: space-around;
}

.gathering-index-show-left {
  display: flex;
  width: 50%;
  justify-content: space-around;
  flex-direction: column;
}

.gathering-index-show-right {
  display: flex;
  width: 30%;
  justify-content: space-between;
  flex-direction: column;
}


/*Category Index*/

.categories-index {
  display: flex;
  justify-content: center;
  width: 100%
}

.categories-index ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


.category-index-item-image {
  display: flex;
  float: left;
  width: 300px;
  height: auto;
  margin: 10px;
}

.category-index-item-image:hover {
  cursor: pointer;
}

/*Category Show*/
.category-index-show {
  display: flex;
  justify-content: space-around;
}

.category-index-show-left {
  display: flex;
  width: 35%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.category-index-show-right {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  flex-direction: column;
}

.category-index-show-events {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
