/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, i,
 section, img, div, h2, p, form,
 fieldset, label, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   height: auto;
   width: 100%;
 }
/*
 INPUT RESET
 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   -webkit-appearance: none;
   -moz-appearance: none;
 }*/

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 h1 {
   font-size: 32px;
   margin-bottom: 10px;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

#content {
  font-family: 'Roboto', sans-serif;
	font-size: inherit;
	vertical-align: baseline;
}

/*Button Group*/
/*button {
    background-color: transparent;
    border: 1px solid #2FBDF6;
    border-radius: 8px;
    color: #666A73;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #2FBDF6;
    color: white;
}*/

/* Header Group */

.header-group {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  border-top: 1px solid #D2D6DF;
  border-bottom: 1px solid #D2D6DF;
  align-items: center;
}

.header-link {
  display: flex;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-left: 1px solid #D2D6DF;
  font-family: 'Pacifico', sans-serif;
  color: #F6682F;
  font-size: 28px;
  align-self: center;
}

.header-link:hover {
  color: #F69A2F;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  height: 73px;
  border-right: 1px solid #D2D6DF;
}

div.nav-links-item{
  color: #666A73;
  font-size: 14px;
  align-self: center;
  padding-right: 10px;
}

div.nav-links-item:hover {
  cursor: pointer;
  color: #00a8f2;
}

/*Banner / Slider*/

.app-slider-div {
  height: 100vh;
}

.app-slider-div div{
  overflow: hidden;
  height: 85vh;
  align-items: center;
}

.app-slider-div img {
  height: auto;
  min-height: 600px;
  width: 100vw;
  top: calc(-80vh/3);
  position: absolute;
}


#welcome-text {
  position: absolute;
  top: 20%;
  left: calc(100%/2 - 233.135px);
  margin-bottom: 30%;
  font-family: 'Pacifico', sans-serif;
  font-size: 3em;
  color: #FFFFFF;
  z-index: 2;
}

#welcome-p {
  position: absolute;
  top: calc(100% - 150px);
  left: calc(100%/2 - 101.1px);
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #FFFFFF;
  z-index: 2;
}

#welcome-arrow {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(100% - 130px);
  left: calc(100%/2 - 50px);
  z-index: 2;
}

#welcome-arrow:hover {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(100% - 120px);
  left: calc(100%/2 - 50px);
  z-index: 2;
  cursor: pointer;
}

/*Login/Signup Form*/

.session-modal {
  position: relative;
}

.session-modal-content {
  background-color: #FFFFFF;
  border-radius: 7px;
  padding: 2px;
  color: #666A73;
}

.login-form-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  padding: 40px;
}

.login-form {
  display: flex;
  position: block;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.login-form label {
  display: flex;
  justify-content: space-between;
}

/*Gathering Form*/

.gathering-modal {
  position: relative;
}

.gathering-modal-content {
  background-color: #FFFFFF;
  border-radius: 7px;
  padding: 2px;
  color: #666A73;
}

/*Gathering Form*/

.gathering-form-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  padding: 40px;
}

.gathering-form {
  display: flex;
  position: block;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.gathering-form label {
  display: flex;
  justify-content: space-between;
}

#category-dropdown {
  display: flex;
}

/*Landing Page*/
.landing-page {
  height: 100%;
}

/*User Landing Page*/
.user-landing-page {
  width: 90%;
  margin: 20px auto 0 auto;
}

.user-landing-header {
  display: flex;
  margin: 10px 0px;
  justify-content: center;
}

.user-dash {
  display: flex;
  justify-content: space-around;

}

.user-dash-explore {
  display: flex;
  justify-content: center;
  height: 50%;
  overflow: scroll;
  border: 1px solid #D2D6DF;
}


.user-dash-bookmark, .user-dash-tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50vh;
  overflow: scroll;
  border: 1px solid #D2D6DF;
}

.user-dash-bookmark ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-dash-tickets ul {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.tickets-index-item {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  margin: 10px 0;
}

.tickets-index-item > img {
  margin-right: 10px
}

.tickets-index-item > img:hover {
  cursor: pointer;
}

.tickets-index-item > img, .tickets-index-item > div {
  width: 50%;
}

.bookmark-index-item {
  width: 150px;
  margin: 5px 0;
  padding: 5px;
}

.bookmark-index-item:hover {
  cursor: pointer;
}

/*Events Index*/

.gatherings-index {
  display: flex;
  justify-content: center;
  height: 40vh;
  width: 100%
}

.gatherings-index ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gathering-index-item-image {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 10px;
}


/*Event Show*/
.gathering-index-show {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #D2D6DF;
  border-left: 1px solid #D2D6DF;
  border-right: 1px solid #D2D6DF;
}

.gathering-index-show:last-child{
  border-bottom: 1px solid #D2D6DF;
}

.gathering-index-show-left {
  display: flex;
  width: 500px;
  padding-left: 10px;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.gathering-index-show-right {
  display: flex;
  padding-right: 5px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#event-progress {
  height: 30px;
}

#event-header {

  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 5px;
}

#event-location {
  font-size: 0.8em;
  color: #666A73;
  margin-bottom: 15px;
}

#event-dates {
  font-size: 1em;
  margin-bottom: 15px;
}

#event-description {
  font-size: 0.8em;
  height: 55px;
  overflow-y: scroll;
  padding: 2px;
  border: 1px solid #D2D6DF;
  margin-bottom: 15px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.event-fund {
  color: #666A73;
  font-size: 0.8em;
  text-transform: uppercase;
}


/*Category Index*/

.categories-index {
  display: flex;
  justify-content: center;
  width: 100%
}

.categories-index ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


.category-index-item-image {
  display: flex;
  float: left;
  width: 300px;
  height: auto;
  margin: 10px;
}

.category-index-item-image:hover {
  cursor: pointer;
}

/*Category Show*/
.category-index-show {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.category-index-show-left {
  display: flex;
  width: 35%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.category-index-show-right {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  flex-direction: column;
}

.category-index-show-events {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
}

.category-index-show-events h3 {
  font-size: 2em;
  font-weight: bold;
}
