<!DOCTYPE html>
<html>
<head>
  <title>EventBrite</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,500|Roboto+Condensed:700' rel='stylesheet' type='text/css'>
</head>
<body>


<%= yield %>

</body>
</html>
